form#wbm-default-state-form .wbm_default_state_option .form-type-radio {
  float: left;
  margin-right: 10px;

}

form#wbm-default-state-form .wbm_default_state_role div.fieldset-wrapper > div,a
form#wbm-default-state-form .wbm_default_state_role div.fieldset-wrapper > div p {
  margin:0;
  padding: 0;
}
